<!DOCTYPE html>
    
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="..\..\Content\images\favicon.ico" rel="shortcut icon" type="image/x-icon" />
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
